
.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: -0.1em;
  font-weight: var(--font-weight-B);
  padding: 2px 5px 3px 5px;
  .text {
    display: flex;
    align-items: center;
  }
  &.size {
    &-xxsmall {
      padding: 0 3px;
      font-size: var(--font-size-XXXS);
      height: 18px;
    }
    &-xsmall {
      padding: 0 3px;
      font-size: var(--font-size-XXS);
      height: 18px;
    }
    &-small {
      padding: 0 5px;
      font-size: var(--font-size-XS);
      height: 18px;
    }
    &-medium {
      font-size: var(--font-size-XS);
      height: 20px;
    }
    &-big {
      @include pc {
        font-size: var(--font-size-S);
      }
    }
  }
  &.line {
    &-positive {
      border-color: var(--color-positive);
    }
    &-negative {
      border-color: var(--color-point-pale);
    }
    &-needHelper {
      border-color: hsl(60, 39%, 55%, 0.7);
    }
    &-allowBeginner {
      border-color: hsl(80, 36%, 52%, 0.7);
    }
  }
  &.type {
    &-square-round {
      border-radius: 4px;
      &.size {
        &-big {
          border-radius: 5px;
        }
      }
    }
    &-round {
      border-radius: 50px;
    }
  }
  &.color {
    @each $key in map-keys($item-grade-colors) {
      $hsl: map-get($item-grade-colors, #{$key});
      &-#{$key} {
        background-color: colorMaker($hsl, 0%, 0%, 0.3);
        border: 1px solid colorMaker($hsl);
      }
      &-deep-#{$key} {
        background-color: colorMaker($hsl, -10%, 6%);
        border: 1px solid colorMaker($hsl);
        color: $color-black;
        font-weight: 400;
      }
    }   
    &-none {
      background-color: var(--color-white);
      color: var(--color-black);
      font-weight: var(--font-weight-N);
      @media (prefers-color-scheme: dark) {
        background-color: $color-pure-black;
      }
    }
    &-black {
      background-color: rgba(0, 0, 0, 0.8);
      font-weight:  $font-weight-300;
      color: #fff;
      letter-spacing: 0;
    }
    &-point {
      background-color: $color-point;
      color: #fff;
      letter-spacing: 0;
    }
    &-status {
      @each $key in map-keys($chat-status-colors) {
        $hsl: map-get($chat-status-colors, #{$key});
        &-#{$key} {
          background-color: colorMaker($hsl, 0%, 0%, 0.3);
          border: 1px solid colorMaker($hsl);
          color: var(--color-black);
        }
      }  
    }
  }
}
