
.option-bar {
  display: flex;
  padding: 10px;
  background-color: var(--color-white);
  .wrap-menu {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
  & + .option-bar {
    border-top: 1px solid var(--border-light-gray);
  }
  &.size {
    @include pc {
    &-small {
      .title {
        width: 50px;
        font-size: var(--font-size-XS);
      }
      .wrap-menu {
        gap: 5px;
      }
    }
    &-medium {
      .title {
        width: 100px;
      }
      .wrap-menu {
        gap: 10px;
      }
    }
    }
    @include mobile {
      &-small {
        .title {
          width: 40px;
          font-size: var(--font-size-XS);
        }
        .wrap-menu {
          gap: 3px;
        }
      }
      &-medium {
        .title {
          width: 50px;
        }
        .wrap-menu {
          gap: 6px;
        }
      }
    }
  }
}
