.content-top {
  margin-bottom: 20px;
  > .inner-size-basic {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .area-page-title {
    .wrap-sub-info {
      font-size: var(--font-size-S);
      color: var(--font-gray);
    }
  }
}