@import './common/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap&subset=korean');

$font-family: 'Noto Sans KR', sans-serif;
body {
  background-color: var(--bg-light-point-200);
  font-size: $font-size-M-pc;
  line-height: 1.5;
  color: var(--color-black);
  font-family: $font-family;
  letter-spacing: -0.05em;
}
small {
  font-size: $font-size-XS-pc;
}
button, a, input {
  font-family: $font-family;
  letter-spacing: -0.05em;
}
button:hover,
a:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}
i {
  font-style: normal;
}

// layout
.mrg-top-medium {
  margin-top: 30px;
}
.mrg-top-small {
  margin-top: 10px;
}
[class*=inner-size] {
  position: relative;
  transition: width 0.5s;
  &.inner-size-basic {
    @include containerSize('basic');
  }
  &.inner-size-wide {
    @include containerSize('wide');
  }
}

//  top bar
.top-bar {
  padding: 6px 0;
  background-color: $color-point-400;
  > [class*=inner] {
    display: flex;
    > .align-right {
      margin-left: auto;
    }
  }
}


// ir
caption, .ir-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 1px;
}

// svg icon
.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $color-point;
}

.svg-icon circle {
  stroke: $color-point;
  stroke-width: 1;
}

// icon
.icon-arrow {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  &:before {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border: 2px solid var(--color-white);
    border-left: none;
    border-bottom: none;
    content: '';
    transition: transform 0.3s;
  }
  &.small {
    width: 5px;
    height: 1rem;
    margin-left: 3px;
    &:before {
      width: 5px;
      height: 5px;
      border-width: 1px;
    }
  }
  &.down:before {
    right: 45%;
    transform: rotate(135deg) translateX(-50%);
  }
  &.up:before {
    right: 25%;
    transform: rotate(-45deg) translateX(-50%);
  }
  &.right:before {
    right: 25%;
    top: 50%;
    transform: rotate(45deg) translateX(-50%);
  }
  &.border-neon:before {
    border-color: $color-neon;
  }
  &.color-point {
    &:before {
      border-color: $color-point;
    }
  }
}
.icon-bar-arrow {
  display: inline-block;
  position: relative;
  width: 9px;
  height: 2px;
  margin: 6px 0 6px 4px;
  box-shadow: inset 0 0 0 2px;
  transform: translateX(-3px);
  transition: transform 0.3s;
  &:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 100%;
    right: auto;
    border-width: 4px 0 4px 4px;
    border-style: solid;
    border-color: transparent;
    border-left-color: inherit;
    transform: translateY(-50%);
    content: '';
  }
  &.left {
    transform: rotate(180deg);
  }
  & + .icon-bar-arrow {
    margin-left: 8px;
  }
}
.wrap-icon-text {
  line-height: 1;
  [class*=icon-] {
    margin-left: 5px;
  }
}

// badge
.badges {
  display: flex;
  &.badge-gap {
    gap: 5px;
  }
  &:not(.badge-gap) {
    .badges {
      &:not([class*=line-]):nth-child(n+2) {
        border-left: none;
      }
    }
  }
}
.badge {
  min-width: 1.5em;
  padding: 0 1px 1px;
  border: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  word-spacing: -0.1em;
  &.type-round {
    padding: 3px 5px;
    border-radius: 5px;
  }
  &.size-big {
    font-size: $font-size-S-pc;
  }
  &.black {
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
    color: #fff;
    letter-spacing: 0;
  }
  &.line-gold {
    border: 1px solid $color-gold;
  }
  &.line-gray {
    border: 1px solid var(--border-gray-100);
  }
}
.badge-text-wrap {
  display: inline-flex;
  align-items: center;
  gap: 3px;
}
//  content top
.text-refer {
  display: flex;
  align-items: center;
  font-size: $font-size-MS-pc;
  &.top {
    margin-bottom: 6px;
  }
  &.bottom {
    margin-top: 6px;
  }
  > [class*=align-] {
    display: inline-flex;
    align-items: center;
    > p:nth-child(n + 2) {
      position: relative;
      padding-left: 10px;
      margin-left: 10px;
      &:before {
        position: absolute;
        left: 0;
        color: var(--color-gray);
        transform: translate(-50%, 0);
        content: '|';
      }
    }
  }
  > .align-right {
    margin-left: auto;
  }
}

// title
.title-page {
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px;
  padding-bottom: 2px;
  // margin-right: 160px;
  font-weight: bold;
  letter-spacing: 0.01em;
  .skull {
    font-size: 1.1em;
  }
}

// link
.text-link {
  color: $color-point;
}
// bar-notice
.bar-notice {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid $color-point;
  background-color: rgba(255, 255, 255, 0.5);
  color: $color-point;
  text-align: center;
}

// list button
.list-button-common {
  display: flex;
  flex-wrap: wrap;
  gap: $list-gap-basic;
}
.sub-nav-common {
  display: block;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: var(--color-white);
  opacity: 0.6;
  &.nuxt-link-active {
    opacity: 1;
  }
}