@import './common/reset.scss';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

$font-family: 'Pretendard Variable', sans-serif;

body {
  background-color: var(--bg-body);
  font-size: $font-size-M-pc;
  line-height: 1.5;
  color: var(--color-black);
  font-family: $font-family;
  font-weight: var(--font-weight-N);
  letter-spacing: -0.05em;
}
small {
  font-size: $font-size-XS-pc;
}
button, a, input {
  font-family: $font-family;
  letter-spacing: -0.05em;
}
button:hover,
a:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}
i {
  font-style: normal;
}

// layout
.mrg-top-medium {
  margin-top: 30px;
}
.mrg-top-small {
  margin-top: 10px;
}
[class*=inner-size] {
  position: relative;
  transition: width 0.5s;
  &.inner-size-basic {
    @include containerSize('basic');
  }
  &.inner-size-wide {
    @include containerSize('wide');
  }
}

//  top bar
.top-bar {
  padding: 6px 0;
  background-color: var(--color-gray-50);
  > [class*=inner] {
    display: flex;
    > .align-right {
      margin-left: auto;
    }
  }
}

// ir
caption, .ir-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 1px;
}

// svg icon
.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--color-point);
}

.svg-icon circle {
  stroke: var(--color-point);
  stroke-width: 1;
}

// icon
.icon-arrow {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  &:before {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border: 2px solid var(--color-white);
    border-left: none;
    border-bottom: none;
    content: '';
    transition: transform 0.3s;
  }
  &.x-small {
    margin-left: 0.15em;
    &:before {
      width: 0.3em;
      height: 0.3em;
      border-width: 1px;
    }
    &.down,
    &.up {
      width: 0.3em;
      height: 6px;
    }
    &.right,
    &.left {
      width: 0.5em;
      height: 0.85em;
      margin-top: 0.15em;
    }
  }
  &.small {
    margin-left: 0.45em;
    &:before {
      width: 0.45em;
      height: 0.45em;
      border-width: 1px;
    }
    &.down,
    &.up {
      width: 0.7em;
      height: 6px;
    }
    &.right,
    &.left {
      width: 0.5em;
      height: 0.85em;
      margin-top: 0.3em;
    }
  }
  &.wide {
    &.up {
      width: 15px;
      height: 8px;
      &:before {
        border-width: 1px;
        transform: rotate(-45deg) translate(-20%, 20%) skew(10deg, 10deg);
      }
    }
    &.down {
      width: 15px;
      height: 8px;
      &:before {
        border-width: 1px;
        transform: rotate(135deg) translate(-50%, -10%) skew(10deg, 10deg);
      }
    }
  }
  &.down {
    &:before {
      right: 45%;
      transform: rotate(135deg) translate(-50%, -5%);
    }
  }
  &.up {
    &:before {
      right: 25%;
      transform: rotate(-45deg) translate(-10%, 30%);
    }
  }
  &.right:before {
    right: 25%;
    top: 50%;
    transform: rotate(45deg) translate(-40%, -30%);
  }
  &.border-neon:before {
    border-color: var(--color-green-neon);
  }
  &.border-point {
    &:before {
      border-color: var(--color-point);
    }
  }
  &.border-black {
    &:before {
      border-color: var(--border-black);
    }
  }
  &.border-dark-gray {
    &:before {
      border-color: var(--color-gray-40);
    }
  }
}
.icon-bar-arrow {
  display: inline-block;
  position: relative;
  width: 9px;
  height: 2px;
  margin: 6px 0 6px 4px;
  box-shadow: inset 0 0 0 2px;
  transform: translateX(-3px);
  transition: transform 0.3s;
  &:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 100%;
    right: auto;
    border-width: 4px 0 4px 4px;
    border-style: solid;
    border-color: transparent;
    border-left-color: inherit;
    transform: translateY(-50%);
    content: '';
  }
  &.left {
    transform: rotate(180deg);
  }
  & + .icon-bar-arrow {
    margin-left: 8px;
  }
}
.icon-caret {
  display: inline-block;
  vertical-align: middle;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 4px 4px 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.wrap-icon-text {
  [class*=icon-] {
    margin-left: 5px;
  }
}

// badge
.badges {
  display: flex;
  flex-wrap: wrap;
  &.badge-gap {
    gap: 5px;
  }
  &:not(.badge-gap) {
    .badge {
      &:not([class*=line-]):nth-child(n+2) {
        border-left: none;
      }
    }
  }
}
.badge {
  min-width: 1.5em;
  padding: 0 1px 1px;
  border: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.8);
  color: $color-black;
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  word-spacing: -0.1em;
  &.type-round {
    padding: 2px 5px 3px 5px;
    border-radius: 5px;
  }
  &.size-big {
    font-size: $font-size-S-pc;
  }
  &.black {
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
    color: #fff;
    letter-spacing: 0;
  }
  &.point {
    background-color: var(--color-point);
    border-color: var(--color-point);
    font-weight: 300;
    color: #fff;
    letter-spacing: 0;
  }
  &.line-gold {
    border: 1px solid var(--border-gold);
  }
  &.line-gray {
    border: 1px solid var(--color-gray-85);
  }
  &.banned {
    margin-left: 5px;
    background-color: var(--color-ban);
    font-weight: 300;
    color: #ffc;
  }
}
.badge-text-wrap {
  display: inline-flex;
  align-items: center;
  gap: 3px;
}
//  content top
.text-refer {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: $font-size-XS-pc;
  &.top {
    margin-bottom: 6px;
  }
  &.bottom {
    margin-top: 6px;
  }
  > [class*=align-] {
    display: inline-flex;
    align-items: center;
    > p:nth-child(n + 2) {
      position: relative;
      padding-left: 10px;
      margin-left: 10px;
      &:before {
        position: absolute;
        left: 0;
        color: var(--color-gray-65);
        transform: translate(-50%, 0);
        content: '|';
      }
    }
  }
  > .align-right {
    margin-left: auto;
  }
}

// title
.area-page-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 2px;
  letter-spacing: 0.01em;
  font-weight: var(--font-weight-N);
  &.underline {
    border-bottom: 1px solid var(--border-dark-gray);
    margin-bottom: 10px;
  }
  > .title {
    font-weight: var(--font-weight-XB);
  }
  .skull {
    font-weight: var(--font-weight-B);
    font-size: 1.1em;
  }
}

// link
.text-link {
  color: var(--color-point);
}
// bar-notice
.bar-notice {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid var(--color-point);
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--color-point);
  text-align: center;
  a {
    color: inherit;
  }
}

// list button
.list-button-common {
  display: flex;
  flex-wrap: wrap;
  gap: $list-gap-basic;
}
.sub-nav-common {
  display: block;
  background-color: var(--color-white);
  opacity: 0.6;
  &.nuxt-link-active {
    opacity: 1;
  }
}

//  gray box
.box-gray {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: var(--bg-light-gray);
  & + .box-gray {
    margin-top: 5px;
  }
  > .title {
    font-weight: var(--font-weight-B);
    margin-bottom: 0.5em;
  }
}

// positive / netavie
.color {
  &-positive {
    color: var(--color-point-sub)
  }
  &-negative,
  &-point {
    color: var(--color-point);
  }
  &-banned {
    color: var(--color-ban);
  }
}
[class*="line-"] {
  background-color: hsla(var(--hsl-white), 80%);
  color: var(--color-black);
  font-weight: var(--font-weight-N);
}
.line {
  &-positive {
    border-color: var(--color-point-sub-pale);
  }
  &-negative {
    border-color: var(--color-point-pale);
  }
}