.bookmarks-item {
  display: flex;
  margin: 0 auto;
  &.align-hrz {
    justify-content: center; 
    gap: 20px;
  }
  &.align-vtc {
    flex-direction: column;
  }
}
.default-text {
  width: 100%;
  font-size: var(--font-size-S);
  text-align: center;
  word-break: keep-all;
}