.bookmarks-item {
  display: flex;
  &.align-hrz {
    // justify-content: center; 메인 조합법 북마크 - 정렬 센터로 하면 아이템 6개 이상일때 사이드가 잘리는 현상.
    gap: 20px;
  }
  &.align-vtc {
    flex-direction: column;
  }
}
.default-text {
  font-size: $font-size-S-pc;
  text-align: center;
  word-break: keep-all;
}