
@mixin setSize($img-size) {
  width: $img-size;
  height: $img-size;
  .box-img {
    height: 100%;
    .img-item {
      width: 100%;
      height: 100%;
    }
  }
  .item-blank {
    height: $img-size;
  } 
}
@mixin blank() {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-gray);
}

.item-img {
  overflow: hidden;
  .box-img {
    &.blank {
      display: flex;
      align-items: center;
      justify-content: center;
      word-break: keep-all;
      color: var(--color-gray-65);
      @include blank();
    }
    &.blank,
    &.blank > button {
      line-height: 1.2;
      font-size: 12px;
      text-align: center;
    }
    &.no-id,
    &.no-id > button {
      color: var(--color-point);
    }
  }
  &.size {
    &-xxsmall {
      @include setSize($item-image-xxsmall);
    }
    &-xsmall {
      @include setSize($item-image-xsmall);
    }
    &-small {
      @include setSize($item-image-small);
    }
    &-medium {
      @include setSize($item-image-basic);     
    }
    &-big {
      @include setSize($item-image-big);     
    }
    &-xbig {
      @include setSize($item-image-xbig);       
    }
  }
  &.round {
    border-radius: 100%;
    border: 1px solid var(--color-white);
    &.legend {
      border: 2px solid var(--color-grade-legend);
      box-shadow: 0 0 10px var(--color-grade-legend-sub);
    }
    &.epic {
      border: 2px solid var(--color-grade-epic);
      box-shadow: 0 0 5px var(--color-grade-epic-sub);
    }
    &.rare {
      border: 2px solid var(--color-grade-rare);
    }
    &.normal {
      border: 2px solid var(--color-grade-normal);
    }
    .box-img {
      .img-item {
        width: 150% !important;
        height: 150% !important;
        margin: -26% 0 0 -25%;
        border-radius: 100%;
      }
    }
    .item-blank {
      border-radius: 100%;
    }
  }
}

.box-item-report {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 9;
  width: 250px;
  transform: translateY(-50%);
}