$table-border: 1px solid var(--border-light-gray);
table {
  width: 100%;
  background-color: var(--color-white);
  tr {
    border-bottom: $table-border;
    &.line-strong-top {
      border-top: $table-border;
      border-top-width: 3px;
    }
  }
  th {
    vertical-align: middle;
    background-color: var(--bg-light-gray);
    font-weight: normal;
    color: var(--font-gray);
    text-align: left;
  }
  td {
    vertical-align: middle;
    word-break: keep-all;
    &.td-common {
      background-color: var(--bg-light-gray);
    }
    .many-text {
      padding: 10px 0 15px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
  th, td {
    &.text-center {
      text-align: center;
    }
    &.align-top {
      vertical-align: top;
    }
  }
}
.columns {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
  .wrap-options {
    &.basic {
      width: 180px;
    }
    &.small {
      width: 100px;
    }
  }
  .wrap-passive {
    flex: 1;
    padding-left: 10px;
    border-left: $table-border;
    word-break: keep-all;
  }
  .wrap-item {
    &.small {
      width: 110px;
    }
  }
  &.align-center {
    justify-content: center;
  }
}
.badge {
  &.buff {
    border-color: #aaa;
    background-color: var(--badge-color-orange-light);
  }
  &.deBuff {
    border-color: #aaa;
    background-color: var(--badge-color-blue-light);
  }
  &.self {
    border-color: #aaa;
    background-color: var(--badge-color-green-light);
  }
} 
.box-text {
  .title {
    &-small {
      font-weight: bold;
      margin-bottom: 0.5em;
      &.left {
        margin-bottom: 0;
        margin-right: 0.5em;
      }
    }
  }
}
.box-flex {
  display: flex;
}
.grade-option {
  .box-flex {
    &:nth-child(n+2) {
      margin-top: 0.8em;
    }
    .title-small {
      flex-shrink: 0;
      width: 2.5em;
      font-size: var(--font-size-XS);
      color: var(--color-gray-60);
      font-weight: normal;
    }
  }
}
.item-table {
  &.size {
    &-small {
      .text-refer {
        p {
          font-size: var(--font-size-XS);
        }
      }
      table {
        th {
          padding: 3px 5px;
          font-size: var(--font-size-XS);
        }
        td {
          padding: 5px;
          font-size: var(--font-size-XS);
        }
      }
    }
    &-medium {
      table {
        th {
          padding: 8px 10px;
          font-size: var(--font-size-S);
        }
        td {
          padding: 15px 10px;
          font-size: var(--font-size-S);
        }
      }
      @include mobile {
        table {
          th {
            padding: 5px 6px;
          }
          td {
            padding: 10px 5px;
          }
        }
      }
    }
  }
}