
@mixin setSize($img-size) {
  width: $img-size;
  height: $img-size;
  .box-img {
    height: 100%;
    .img-item {
      width: 100%;
      height: 100%;
    }
  }
  .item-blank {
    height: $img-size;
  } 
}
@mixin blank() {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-gray);
}

.item-img {
  overflow: hidden;
  .item-blank {
    height: 100%;
    @include blank();
    background-color: transparent;
  }
  .box-img {
    &.blank {
      display: flex;
      align-items: center;
      justify-content: center;
      word-break: keep-all;
      color: var(--color-gray-65);
      @include blank();
    }
    &.blank,
    &.blank > button {
      line-height: 1.2;
      font-size: 12px;
      text-align: center;
    }
    &.no-id,
    &.no-id > button {
      color: var(--color-point);
    }
  }
  &.size {
    &-xxsmall {
      @include setSize($item-image-xxsmall);
    }
    &-xsmall {
      @include setSize($item-image-xsmall);
    }
    &-small {
      @include setSize($item-image-small);
    }
    &-medium {
      @include setSize($item-image-basic);     
    }
    &-big {
      @include setSize($item-image-big);     
    }
    &-xbig {
      @include setSize($item-image-xbig);       
    }
  }
  &.round {
    border-radius: 100%;
    &:not(:has(.item-blank)) {
      border: 1px solid var(--border-gray);
    }
    &.grade {
      &-common {
        // border: 1px solid var(--color-grade-common);
        box-shadow: 0 0 3px var(--color-grade-common);
      }
      &-uncommon {
        border: 1px solid var(--color-uncommon-epic);
        box-shadow: 0 0 5px var(--color-grade-epic);
      }
      &-special {
        border: 1px solid var(--color-grade-special);
        box-shadow: 0 0 5px var(--color-grade-special);
      }
    }
    .box-img {
      .img-item {
        border-radius: 100%;
      }
    }
    .item-blank {
      border-radius: 100%;
    }
    // 영웅 외 라운드 아이템 이미지는 테두리 보이지 않도록 사이즈 확대
    &[class*="grade-"] {
      .box-img {
        .img-item {
          width: 150% !important;
          height: 150% !important;
          margin: -26% 0 0 -25%;
        }
      }
    }
  }
}

.box-item-report {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 9;
  width: 250px;
  transform: translateY(-50%);
}