$common-gap: 10px;

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: $common-gap;
}
.all-options-main {
  .text-notice {
    margin-top: 5px;
    font-size: $font-size-XS;
    color: var(--font-dark-gray);
    text-align: center;
    word-break: keep-all;
  }
}

.wrap-item-build {
  display: grid;
  grid-template-columns: 198px 198px 105px 170px;
  grid-template-rows: 160px 160px 36px 140px;
  gap: $list-gap-basic;
  grid-auto-flow: dense;
  .wrap-title-content {
    display: flex;
    flex-direction: column;
    gap: $common-gap;
    &.equipment {
      grid-column-start: 1;
      grid-row-start: 1;
    }
    &.sailor {
      grid-column-start: 2;
      grid-row-start: 1;
    }
    &.colleague {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
    }
    &.ship {
      grid-column-start: 3;
      // grid-column-end: 5;
      grid-row-start: 2;
    }
  }
  ::v-deep {
    .area-item-list {
      height: 100%;
    }
    .box-item {
      padding-left: 15px;
      padding-right: 15px;
    }
    .item-blank {
      margin-bottom: 32px;
    }
    .list-item > li {
      min-height: 103px;
    }
  }
}
.wrap-stat-box {
  display: flex;
  gap: $common-gap;
}