.list-item {
  display: flex;
  flex-wrap: wrap;
  @for $i from 2 to 9 {
    &.column-#{$i} {
      display: grid;
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }
  &.column-10 {
    > li {
      width: 100px;
    }
  }
  > li {
    display: flex;
    flex-direction: column;
  }
  .wrap-item {
    min-width: 90px;
    padding: 6px 8px 0;
    padding-bottom: 10px;
  }
}
::v-deep {
  .name {
    min-height: 2.4em;
  }
}