$common-gap: 10px;

.wrapper {
  @include pc {
    display: flex;
    justify-content: space-between;
    gap: $common-gap;
  }
}
.wrap-item-build {
  display: grid;
  gap: $list-gap-basic;
  .wrap-title-content {
    display: flex;
    flex-direction: column;
    gap: $common-gap;
  }
  ::v-deep {
    .area-item-list {
      height: 100%;
    }
    .item-blank {
      margin-bottom: 32px;
    }
  }
  .all-options-main {
    .text-notice {
      margin-top: 5px;
      font-size: var(--font-size-XS);
      color: var(--font-dark-gray);
      text-align: center;
      word-break: keep-all;
    }
  }

  @include pc {
    grid-template-columns: 135px 135px 135px 135px 99px 178px 178px;
    grid-template-rows: 160px 160px 98px auto;
    .wrap-title-content {
      &.equipment {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
      }
      &.sailor {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      &.colleague {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2
      }
      &.ship {
        grid-column-start: 5;
        grid-row-start: 1;
      }
    }
    .synergy-desc {
      &.sailor {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
      }
      &.colleague {
        grid-column-start: 3;
        grid-column-end: 5;
        // grid-row-start: 3;
      }
    }
    .details.type-character-info {
      grid-column-start: 6;
      grid-column-end: 7;
      grid-row-start: 1;
    }
    .all-options-main {
      grid-row-start: 1;
      grid-row-end: 5;
    }
    ::v-deep {
      .area-item-list {
        height: 100%;
      }
      .box-item {
        padding-left: 12px;
        padding-right: 12px;
      }
      .list-item > li {
        min-height: 103px;
      }
    }
  }
  @include mobile {
    grid-template-columns: repeat(4, 1fr);
    .list-item {
      justify-items: center;
    }
    .wrap-title-content {
      &.equipment {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        .list-item.column-6{
          grid-template-columns: repeat(3, 1fr);
        }
      }
      &.sailor {
        grid-column-start: 1;
        grid-column-end: 5;
      }
      &.colleague {
        grid-column-start: 1;
        grid-column-end: 5;
      }
      &.ship {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
      }
    }
    .synergy-desc {
      &.sailor {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
      }
      &.colleague {
        grid-column-start: 1;
        grid-column-end: 5;
      }
    }
    .details.type-character-info {
      grid-column-start: 1;
      grid-column-end: 3;
      // grid-row-start: 3;
      & + .all-options-main {
        grid-row-start: auto;
        grid-column: auto / span 2;
      }
    }
    .all-options-main {
      grid-row-start: 3;
      grid-column: auto / span 2;
    }
    ::v-deep {
      .list-item > li {
        min-height: 78.5px;
      }
    }
  }
}