$menu-padding-v: 0;
header {
  position: fixed;
  z-index: 99;
  width: 100%;
  font-weight: 300;
  a {
    color: rgba(255, 255, 255, 0.8);
    line-height: 36px;
  }
  .logo {
    font-size: 18px;
    a {
      padding: $menu-padding-v 10px $menu-padding-v 15px;
      color: var(--color-white);
      font-weight: 500;
    }
  }
  .menu-bar {
    display: flex;
    align-items: center;
    padding-right: 10px;
    background-color: var(--bg-dark);
    &.site {
      .logo {
        background-color: $color-point;
      }
      nav {
        a {
          font-size: $font-size-MS-pc;
          &.nuxt-link-active,
          &.is-active {
            font-weight: 400;
            color: #fff;
            background-color: $color-point;
          }
        }
      }
    }
    &.game {
      padding: 5px 10px 5px 90px;
      background-color: $color-point;
      nav {
        a {
          &.nuxt-link-active,
          &.is-active {
            font-weight: 500;
            background-color: $color-point-vivid-bright;
            border-radius: 5px;
            color: #fff;
          }
        }
      }
    }
  }
  nav {
    display: flex;
    a {
      padding: $menu-padding-v 10px;
    }
  }
  .menu-util {
    display: flex;
    margin-left: auto;
    a {
      padding: $menu-padding-v 5px;
      font-size: 0.9em;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}