.list-menu-filter {
  display: flex;
  padding: 10px;
  background-color: var(--color-white);
  .title {
    width: 100px;
  }
  .wrap-menu {
    flex: 1;
    .menu-filter {
  
    }
  }
  & + .list-menu-filter {
    border-top: 1px solid var(--border-light-gray);
  }
}

table {
  width: 100%;
  background-color: var(--color-white);
  th {
    vertical-align: middle;
    padding: 8px 15px;
    background-color: var(--bg-light-point-100);
    font-size: $font-size-S-pc;
    font-weight: normal;
    color: var(--color-dark-gray);
    text-align: left;
  }
  td {
    vertical-align: middle;
    padding: 15px 10px;
    font-size: $font-size-DESC-pc;
  }
  tr {
    border-bottom: 1px solid var(--border-light-gray);
  }
}

.synergies {
  .wrap-synergy {
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #f6f6f6;
    & + .wrap-synergy {
      margin-top: 5px;
    }
    dd {
      & + dd {
        margin-top: 6px;
      }
    }
    &.plus {
      .title {
        color: $color-point-sub
      }
      .badge {
        border-color: $color-point-sub-pale;
      }
    }
    &.minus {
      .title {
        color: $color-point;
      }
      .badge {
        border-color: $color-point-pale;
      }
    }
  }
  .title {
    font-weight: bold;
    margin-bottom: 5px;
  }
}