$table-border: 1px solid var(--border-light-gray);
.list-menu-filter {
  display: flex;
  padding: 10px;
  background-color: var(--color-white);
  .title {
    width: 100px;
  }
  .wrap-menu {
    flex: 1;
    .menu-filter {
  
    }
  }
  & + .list-menu-filter {
    border-top: $table-border;
  }
}

table {
  width: 100%;
  background-color: var(--color-white);
  th {
    vertical-align: middle;
    padding: 8px 10px;
    background-color: var(--bg-light-point-100);
    font-size: $font-size-S-pc;
    font-weight: normal;
    color: var(--color-dark-gray);
    text-align: left;
  }
  td {
    vertical-align: middle;
    padding: 15px 10px;
    font-size: $font-size-MS-pc;
    &.many-text {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  th, td {
    &.text-center {
      text-align: center;
    }
  }
  tr {
    border-bottom: $table-border;
  }
}

.box-gray {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #f6f6f6;
  & + .box-gray {
    margin-top: 5px;
  }
  .title {
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.synergies {
  dd {
    & + dd {
      margin-top: 6px;
    }
  }
}

// positive / netavie
.color {
  &-positive {
    color: $color-point-sub
  }
  &-negative {
    color: $color-point;
  }
}
.line{
  &-positive {
    border-color: $color-point-sub-pale;
  }
  &-negative {
    border-color: $color-point-pale;
  }
}

.columns-inline {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
  .wrap-details {
    width: 100px;
  }
  .wrap-passive {
    flex: 1;
    padding-left: 10px;
    border-left: $table-border;
    word-break: keep-all;
  }
}
.badge {
  &.buff {
    border-color: #aaa;
    background-color: $badge-color-orange-light;
  }
  &.deBuff {
    border-color: #aaa;
    background-color: $badge-color-blue-light;
  }
  &.self {
    border-color: #aaa;
    background-color: $badge-color-green-light;
  }
} 