.party-chat {
  max-width: 100%;
  .wrap-content {
    display: flex;
    gap: 20px;
    width: 740px;
    max-width: 100%;
  }
  .area-message {
    flex: 1;
    padding: 10px;
    background-color: var(--bg-light-gray);
    border-radius: 5px;
    .wrap-messages {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 5px;
      height: calc(100vh - var(--header-height) - 190px - 56px);
      padding: 10px;
      font-size: var(--font-size-S);
      @include scrollBar;
      .alarm {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        color: var(--font-gray);
        &:before {
          display: block;
          position: absolute;
          top: 49%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: var(--border-gray);
          content: '';
        }
        .message {
          position: relative;
          z-index: 1;
          padding: 2px 5px;
          background-color: var(--bg-light-gray);
        }
      }
      .chat {
        max-width: 80%;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 5px;
        &:not(.my) {
          margin-top: 4px;
          margin-right: auto;
        }
        &.my {
          flex-direction: row-reverse;
          margin-left: auto;
        }
        .nick {
          text-align: left;
          width: 100%;
          padding: 0 2px;
          background-color: var(--bg-light-gray);
          font-size: var(--font-size-XS);
          color: var(--color-point-sub-bright);
          line-height: 1;
        }
        .message {
          display: inline-block;
          padding: 5px 10px;
          border: 1px solid var(--darker-20);
          border-radius: 5px;
        }
        .time {
          font-size: var(--font-size-XXS);
          color: var(--font-gray);
        }
      }
    }
  }
  .wrap-chat-side {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 180px;
    border: 1px solid var(--border-gray);
    border-radius: 5px;
  }
  .area-chat-members {
    flex: 1;
    background-color: var(--bg-body);
  }
  .option-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    &:nth-child(n+2) {
      border-left: 1px solid var(--border-gray);
    }
    > button {
      flex-grow: 1;
      flex-shrink: 0;
      padding: 5px 10px;
      text-align: center;
      font-weight: var(--font-weight-N);
    }
  }
  &.mode-max {
    @include mobile {
      .wrap-content {
        gap: 5px;
      }
      .wrap-chat-side {
        width: 120px;
      }
      .option-buttons {
        > button {
          padding: 5px;
        }
      }
    }
  }
  &.mode-mini {
    .alarm-new-message {
      position: absolute;
      top: -15px;
      left: 0;
      padding: 5px;
      transform: translateY(-100%);
      background-color: var(--lighter-20);
      border: 1px solid var(--border-gray);
      border-radius: 10px;
      font-size: var(--font-size-XXS);
    }
    .alarm-message-length {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transform: translate(-50%, -50%);
      width: 15px;
      height: 15px;
      background-color: $color-point;
      border-radius: 100%;
      font-size: 10px;
      color: $color-white;
    }
    .party-chat-top {
      overflow: hidden;
      padding: 6px 6px 0;
      background-color: var(--lighter-20);
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      backdrop-filter: blur(4px);
      .area-page-title {
        margin-bottom: 0;
        .page-title {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: var(--font-size-S);
        }
      }
    }
    .wrap-chat-side {
      overflow: visible;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      border: none;
      border-radius: 0;
    }
    .area-chat-members {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
    }
    .option-buttons {
      &.top {
  
      }
      &.bottom {
  
      }
      button {
        font-size: 11px;
        padding: 3px 0 0;
      }
    }
    @include mobile {
      .wrap-content {
        width: 100%;
      }
      .party-chat-top {
        display: flex;
        gap: 5px;
      }
    }
  }
}