$column-num: 3;
.main {
  max-width: 1120px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  .area-main-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: clamp(100px, 38vw, 550px);
    // padding: ;
    font-size: clamp(20px, 6vw, 115px);
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        word-break: break-all;
        padding: 0 ;
        text-shadow: 0 0 20px hsla(var(--hsl-white), 90%);
        font-weight: bold;
        line-height: 1;
        text-align: center;
        letter-spacing: 0.03em;
        &.color-point {
          color: var(--color-white);
          text-shadow: 0 0 20px hsla(var(--hsl-black), 90%);
        }
      }
    }
  }
}
.wrap-quick-menu {
  display: grid;
  grid-template-columns: repeat($column-num, 1fr);
  gap: 10px;
  padding-top: 50px;
  word-break: keep-all;
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }
  [class*=column] {
    border-radius: 15px;
    &.column-full {
      grid-column: auto / span $column-num;
    }
    .area-text {
      text-align: center;
      > .title  {
        font-size: var(--font-size-title-M);
        font-weight: 500;
        &.small {
          font-size: var(--font-size-title-MS);
        }
        & ~ p {
          margin-top: 10px;
          font-size: var(--font-size-B);
        }
      }
    }
    .area-contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
  }
  .quick-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 40px;
    border: 1px solid var(--color-white);
    background-color: hsla(var(--hsl-white), 50%);
    &.item-bookmarks {
      overflow: hidden;
      .area-contents {
        overflow-x: auto;
        align-items: flex-start;
        width: 100%;
        padding: 0 10px; // 아이템명이 아이템 영역보다 넓게 지정되어있어, 아이템 개수 많지 않아도 스크롫 생기는 이슈 때문에 추가
        @include scrollBar;
      }
    }
  }
  .point-banner {
    background-color: rgba(255, 255, 255, 0.6);
    .box-flex {
      display: flex;
      align-items: center;
      .area-img {
        overflow: hidden;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 40%;
        img {
          max-width: 100%;
        }
      }
      .item-flex {
        &.about {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  .line-neon {
    border: 5px solid var(--color-green-neon);
  }
}
.wrap-links {
  display: inline-flex;
  gap: 10px 20px;
  flex-wrap: wrap;
  justify-content: center;
}