$space: 3px;
$big-img-size: 70px;
$xbig-img-size: 90px;
@mixin badges-inner() {
  position: absolute;
  right: 0;
  bottom: 0;
}
@mixin setTypeBasicSize($img-size) {
  width: $img-size;
  @include setTypeListSize($img-size);
  .item-blank {
    height: $img-size;
  }
}
@mixin setTypeListSize($img-size) {
  ::v-deep {
    .area-img {
      .box-img {
        overflow: hidden;
        width: $img-size;
        height: $img-size;
        .img-item {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .item-blank {
    height: $img-size;
  }
}
@mixin setWantedPaper($img-size) {
  width: auto;
  ::v-deep {
    .item-box-info {
      .img-wanted,
      .area-img {
        width: $img-size;
      }
      .area-img {
        margin: 0 auto;
      }
    }
  }
}
@mixin blank() {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-gray);
}
.item {
  padding: 6px;
  box-sizing: content-box;
  .wrap-info {
    width: 100%;
  }
  ::v-deep {
    .item-box-info {
      display: block;
      .area-img {
        position: relative;
        .box-img {
          &.blank {
            display: flex;
            align-items: center;
            justify-content: center;
            word-break: keep-all;
            color: var(--color-gray);
            line-height: 1.2;
            font-size: 12px;
            @include blank();
          }
          &.no-id {
            color: $color-point;
          }
        }
      }
      .name {
        word-break: keep-all;
      }
    }
  }
  .item-blank {
    height: 100%;
    @include blank();
    background-color: transparent;
  }
  &.round {
    &.legend {
      ::v-deep {
        .item-box-info {
          .box-img {
            border: 2px solid $color-legend;
            box-shadow: 0 0 10px $color-legend-sub;
          }
        }
      }
    }
    &.epic {
      ::v-deep {
        .item-box-info {
          .box-img {
            border: 2px solid $color-epic;
            box-shadow: 0 0 5px $color-epic-sub;
          }
        }
      }
    }
    &.rare {
      ::v-deep {
        .item-box-info {
          .box-img {
            border: 2px solid $color-rare;
          }
        }
      }
    }
    &.normal {
      ::v-deep {
        .item-box-info {
          .box-img {
            border: 2px solid $color-normal;
          }
        }
      }
    }
    ::v-deep {
      .item-box-info {
        .area-img {
          .box-img {
            border-radius: 100%;
            border: 1px solid var(--color-white);
            .img-item {
              width: 150% !important;
              height: 150% !important;
              margin: -26% 0 0 -25%;
              border-radius: 100%;
            }
          }
        }
      }
    }
    .item-blank {
      border-radius: 100%;
    }
  }
  &.type {
    &-basic {
      ::v-deep {
        .item-box-info {
          text-align: center;
          .name {
            width: 140%;
            margin-top: $space;
            margin-left: -20%;
            font-size: $font-size-S-pc;
          }
        }
      }
      &.size {
        &-small {
          $img-size: 40px;
          @include setTypeBasicSize($img-size);
          ::v-deep {
            .item-box-info {
              .badges {
                width: 120%;
                margin-left: -10%;
              }
            }
          }
        }
        &-basic {
          $img-size: 55px;
          @include setTypeBasicSize($img-size);
          ::v-deep {
            .item-box-info {
              .badges {
                @include badges-inner();
              }
            }
          }       
        }
        &-big {
          @include setTypeBasicSize($big-img-size);
          ::v-deep {
            .item-box-info {
              .badges {
                @include badges-inner();
              }
            }
          }       
          &.wanted-paper {
            @include setWantedPaper($big-img-size);
          }     
        }
        &-xbig {
          @include setTypeBasicSize($xbig-img-size);
          ::v-deep {
            .item-box-info {
              .badges {
                @include badges-inner();
              }
            }
          }       
          &.wanted-paper {
            @include setWantedPaper($xbig-img-size);
          }     
        }
      }
    }
    &-list {
      height: 100%;
      box-sizing: border-box;
      ::v-deep {
        .item-box-info {
          display: flex;
          align-items: center;
          height: 100%;
          .name {
            margin-left: 6px;
          }
          .badges {
            @include badges-inner();
          }
        }
      }      
      &.size {
        &-xsmall {
          $img-size: 30px;
          @include setTypeListSize($img-size);
          ::v-deep {
            .item-box-info {
              .name {
                font-size: $font-size-S-pc;
              }
            }
          }
        }
        &-small {
          $img-size: 35px;
          @include setTypeListSize($img-size);
        }
        &-big {
          display: flex;
          @include setTypeListSize($big-img-size);
          ::v-deep {
            .item-box-info {
              .name {
                font-size: $font-size-S-pc + 8;
              }
            }
          }
          .area-detail {
            padding: 0 20px;
            margin-left: 40px;
            dd {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  &.wanted-paper {
    background-color: #d7b993;
    border: 1px solid #333;
    ::v-deep {
      .item-box-info {
        .img-wanted {
          width: 100%;
          margin-bottom: 5px;
        }
        .area-img {
          border: 1px solid $wanted-brown;
        }
        .bounty {
          color: $wanted-brown;
          font-weight: bold;
          white-space: nowrap;
        }
      }
    }
  }
}

.item {
  position: relative;
  .wrap-box:hover ~ .tooltip {
    display: block;
  }
  .area-detail {
    padding: 5px;
    font-size: $font-size-S-pc;
    white-space: nowrap;
    &:not(.tooltip) {
      .details {
        display: flex;
        align-items: center;
        height: 100%;
        > div {
          border-left: 2px solid rgba(0, 0, 0, 0.1);
          padding-left: 8px;
          &:nth-child(n+2) {
            margin-left: 20px;
          }
        }
      }
    }
    dt {
      margin-right: 5px;
    }
    .color-drop {
      color: $color-point;
    }
    .color-option {
      color: $color-point-sub;
    }
  }
  .tooltip {
    $tooltip-bg: rgba(0, 0, 0, 0.8);
    display: none;
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 10px;
    background-color: $tooltip-bg;
    font-weight: 300;
    color: #fff;
    transform: translateX(100%);
    &:before {
      display: block;
      position: absolute;
      top: 30%;
      left: 0px;
      width: 0;
      height: 0;
      border-width: 5px 6px 5px 0;
      border-style: solid;
      border-color: $tooltip-bg;
      border-top-color: transparent;
      border-bottom-color: transparent;
      transform: translate(-100%, -50%);
      content: '';
    }
    .details {
      > div {
        display: flex;
      }
    }
    .color-drop {
      color: $color-point-bright;
    }
    .color-option {
      color: $color-point-sub-bright;
    }
  }
}
.wrap-sub-text {
  margin-top: 10px;
}
.color-neon {
  color: $color-neon;
}