
@mixin treeLine($type) {
  $border-style: 1px solid var(--color-gray-70);
  position: relative;
  &:before {
    display: block;
    position: absolute;
    right: -50%;
    width: 100%;
    height: 10px;
    border-left: $border-style;
    content: '';
    @if $type == 'direct' {
      top: -30px;
      height: 30px;
    }
    @if $type == 'straight' {
      top: -42px;
      height: 48px;
    }
    @if $type == 'basic' {
      top: 0;
      border-top: $border-style;
    }
    @if $type == 'last' {
      right: 0;
      left: calc(-50% + -1px);
      border-left: none;              
      border-right: $border-style;
      border-top: none;
    }
  }
}

.area-depth {
  @mixin mainItem {
    min-width: 90px;
    padding: 6px 8px 0;
  }
  &.depth-1 {
    > .wrap-items {
      position: relative;
      display: flex;
      > .item-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mainItem();
        background-color: var(--color-white);
        border-right: 1px solid var(--bg-light-gray);
      }
    }
    &:nth-child(n+2) {
      margin-top: 1px;
    }
  }
  ::v-deep {
    .depth-2 {
      > .wrap-items {
        @include mainItem();
        padding-bottom: 10px;
      }
      &.show-depth3 {
        > .wrap-items {
          &:last-child {
            border-right: none;
            padding-right: 100px;
          }
        }
      }
    }
  }
  &.depth-2 {
    display: flex;
    height: 100%;
    &.show-depth3 {
      > .wrap-items {
        &:last-child {
          // 마지막 아이템 툴팁 잘리는 현상 있어 padding 삽입
          padding-right: 100px;
        }
      }
    }
    > .wrap-items {
      flex-shrink: 0;
      border-right: 1px solid var(--color-white);
      > .item-main {
        display: flex;
        justify-content: center;
      }
      ::v-deep {
        .name {
          min-height: 2.4em;
          .text {
            position: relative;
            z-index: 1;
            background-color: var(--bg-light-gray);
          }
        }
      }
    }
  }
  &.depth-3 {
    display: flex;
    justify-content: center;
    @include treeLine('direct');
    > .wrap-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 72px;
      padding: 4px 5px 0;
      @include treeLine('basic');
      &:last-child {
        @include treeLine('last');
      }
    }
  }
  &.depth-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0 0;
    background-color: var(--color-white);
    > .wrap-items {
      &:first-child {
        @include treeLine('straight');
      }
      // @include treeLine('straight');
      ::v-deep {
        .box-item {
          padding-top: 0;
          .name .text {
            background-color: transparent;
          }
        }
      }
    }
  }
}