$name-space: 5px;
@mixin setWantedPaper($img-size) {
  width: auto;
  ::v-deep {
    .item-box-info {
      .img-wanted,
      .area-img,
      .nick-wanted {
        width: $img-size;
      }
      .area-img {
        margin: 0 auto;
      }
      .money {
        top: calc(15px + #{$img-size});
        right: calc(#{$img-size} / 20);
      }
    }
  }
}
@mixin blank() {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-gray);
}
.box-item {
  display: inline-block;
  padding: 6px;
  box-sizing: content-box;
  &.no-padding {
    padding: 0;
    & + .no-padding {
      margin-top: 12px;
    }
  }
  .item-box-info {
    display: block;
    .area-img {
      position: relative;
    }
    .name {
      font-weight: var(--font-weight-N);
      line-height: 1.2;
      word-break: keep-all;
    }
  }
  &.type {
    &-basic {
      ::v-deep {
        .item-box-info {
          text-align: center;
          .area-name {
            margin-top: $name-space;
          }
          .name {
            width: 140%;
            margin-left: -20%;
            @include pc {
              font-size: var(--font-size-S);
            }
            @include mobile {
              font-size: var(--font-size-XS);
            }
          }
        }
      }
      &.size {
        &-xxsmall {
          width: var(--item-image-xxsmall);
        }
        &-xsmall {
          width: var(--item-image-xsmall);
        }
        &-small {
          width: var(--item-image-small);
        }
        &-medium {
          width: var(--item-image-basic);
        }
        &-big {    
          width: var(--item-image-big);
          &.wanted-paper {
            @include setWantedPaper(var(--item-image-big));
          }     
        }
        &-xbig { 
          width: var(--item-image-xbig);
          &.wanted-paper {
            @include setWantedPaper(var(--item-image-xbig));
          }     
        }
      }
    }
    &-list {
      height: 100%;
      box-sizing: border-box;
      padding: 0;
      .item-box-info {
        display: flex;
        align-items: center;
        height: 100%;
        .area-name {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-left: 6px;
        }
      }  
      &.size {
        &-xxsmall {
          .name {
            display: flex;
            align-items: center;
            font-size: var(--font-size-XS);
          }
        }
        &-xsmall {
          .name {
            font-size: var(--font-size-S);
          }
        }
        &-small {
          .name {
            font-size: var(--font-size-MS);
          }
        }
        &-big {
          display: flex;
          .area-name {
            margin-left: 10px;
            .name {
              font-size: var(--font-size-S + 8);
            }
          }
        }
      }
    }
  }
  &.wanted-paper {
    background-color: #d7b993;
    border: 1px solid #333;
    .img-wanted {
      max-width: 100%;
    }
    .nick-wanted {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
      color: var(--wanted-brown);
      font-size: 0.9em;
      font-weight: $font-weight-700;
      line-height: 1;
      text-align: center;
    }
    &.pirate-king {
      box-shadow: 0 0 5px 4px var(--wanted-brown);
    .item-box-info {
      .area-img {
        box-shadow: 0 0 2px 1px #000;
      }
    }
    }
    &.size-medium {
      .img-wanted {
        width: 55px;
      }
    }
    &.size-xbig {
      .img-wanted {
        width: 90px;
      }
    }
    .item-box-info {
      .img-wanted {
        @include pc {
          margin-bottom: 5px;
        }
      }
      .area-img {
        overflow: hidden;
        border: 1px solid var(--wanted-brown);
        img {
          object-fit: contain;
        }
      }
      .bounty {
        margin-top: 5px;
        color: var(--wanted-brown);
        font-size: var(--font-size-MS);
        font-weight: bold;
        line-height: 1;
        white-space: nowrap;
      }
      .crown {
        position: absolute;
        top: 20px;
        left: 0;
        font-size: 0.9em;
        transform: rotate(-30deg);
      }
      .money {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: rotate(30deg);
      }
    }
  }
}

.box-item {
  position: relative;
  .area-detail {
    padding: 5px;
    white-space: nowrap;
  }
}
.wrap-sub-text {
  margin-top: 10px;
}
.color-neon {
  color: var(--color-green-neon);
}