$name-space: 5px;
@mixin setWantedPaper($img-size) {
  width: auto;
  ::v-deep {
    .item-box-info {
      .img-wanted,
      .area-img {
        width: $img-size;
      }
      .area-img {
        margin: 0 auto;
      }
    }
  }
}
@mixin blank() {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-gray);
}
.box-item {
  display: inline-block;
  padding: 6px;
  box-sizing: content-box;
  &.no-padding {
    padding: 0;
    & + .no-padding {
      margin-top: 12px;
    }
  }
  .wrap-info {
    width: 100%;
  }
  .item-box-info {
    display: block;
    .area-img {
      position: relative;
    }
    .name {
      font-weight: var(--font-weight-N);
      line-height: 1.2;
      word-break: keep-all;
    }
  }
  .item-blank {
    height: 100%;
    @include blank();
    background-color: transparent;
  }
  &.size {
    &-xxsmall {
      .item-blank {
        height: $item-image-xxsmall;
      }
    }
    &-xsmall {
      .item-blank {
        height: $item-image-xsmall;
      }
    }
    &-small {
      .item-blank {
        height: $item-image-small;
      }
    }
    &-medium {
      .item-blank {
        height: $item-image-basic;     
      }
    }
    &-big {    
      .item-blank {
        height: $item-image-big;  
      }
    }
  }
  &.round {
    .item-blank {
      border-radius: 100%;
    }
  }
  &.type {
    &-basic {
      ::v-deep {
        .item-box-info {
          text-align: center;
          .area-name {
            margin-top: $name-space;
          }
          .name {
            width: 140%;
            margin-left: -20%;
            font-size: $font-size-S-pc;
          }
        }
      }
      &.size {
        &-xxsmall {
          width: $item-image-xxsmall;
        }
        &-xsmall {
          width: $item-image-xsmall;
        }
        &-small {
          width: $item-image-small;
        }
        &-medium {
          width: $item-image-basic;     
        }
        &-big {    
          width: $item-image-big;  
          &.wanted-paper {
            @include setWantedPaper($item-image-big);
          }     
        }
        &-xbig { 
          width: $item-image-xbig;  
          &.wanted-paper {
            @include setWantedPaper($item-image-xbig);
          }     
        }
      }
    }
    &-list {
      height: 100%;
      box-sizing: border-box;
      padding: 0;
      .item-box-info {
        display: flex;
        align-items: center;
        height: 100%;
        .area-name {
          display: flex;
          gap: 5px;
          margin-left: 6px;
        }
      }  
      &.size {
        &-xxsmall {
          .name {
            display: flex;
            align-items: center;
            font-size: $font-size-XS-pc;
          }
        }
        &-xsmall {
          .name {
            font-size: $font-size-S-pc;
          }
        }
        &-big {
          display: flex;
          .area-name {
            margin-left: 10px;
            .name {
              font-size: $font-size-S-pc + 8;
            }
          }
        }
      }
    }
  }
  &.wanted-paper {
    background-color: #d7b993;
    border: 1px solid #333;
    &.size-medium {
      .img-wanted {
        width: 55px;
      }
    }
    &.size-xbig {
      .img-wanted {
        width: 90px;
      }
    }
    .item-box-info {
      .img-wanted {
        margin-bottom: 5px;
      }
      .area-img {
        overflow: hidden;
        border: 1px solid var(--wanted-brown);
        img {
          object-fit: contain;
        }
      }
      .bounty {
        color: var(--wanted-brown);
        font-weight: bold;
        white-space: nowrap;
      }
      .crown {
        position: absolute;
        top: 20px;
        left: 0;
        font-size: 0.9em;
        transform: rotate(-30deg);
      }
      .money {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: rotate(30deg);
      }
    }
  }
}

.box-item {
  position: relative;
  .wrap-info:hover ~ .tooltip {
    display: block;
  }
  .area-detail {
    padding: 5px;
    white-space: nowrap;
  }
  .tooltip {
    $tooltip-bg: var(--bg-tooltip-dim);
    display: none;
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 0;
    background-color: $tooltip-bg;
    text-align: left;
    transform: translateX(100%);
    .tooltip-title {
      font-size: $font-size-S-pc;
    }
    &:before {
      display: block;
      position: absolute;
      top: 5px;
      left: 0px;
      width: 0;
      height: 0;
      border-width: 5px 6px 5px 0;
      border-style: solid;
      border-color: $tooltip-bg;
      border-top-color: transparent;
      border-bottom-color: transparent;
      transform: translate(-100%, 0);
      content: '';
    }
  }
}
.wrap-sub-text {
  margin-top: 10px;
}
.color-neon {
  color: var(--color-green-neon);
}