.item-tree {
  .area-tree {
    flex: 1;
    .area-depth {
      $button-toggle-width: 30px;
      .button-toggle {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: $button-toggle-width;
        height: calc(100% - 1px);
        // border: 1px solid var(--color-point);
        background: var(--bg-dark-gray);
        .icon-arrow {
          position: absolute;
          bottom: 10px;
          left: 0;
          right: 0;
          margin: 0 auto;
        }
      }
      .wrap-scroll {
        overflow-x: auto;
        flex: 1;
        background-color: var(--bg-light-gray);
        border-top: 1px solid var(--color-white);
        border-bottom: 1px solid var(--color-white);
      }
    }
  }
}