.box-search {
  &.basic {
    .wrap-search {
      width: 280px;
    }
  }
  &.main {
    display: flex;
    justify-content: center;
    margin-top: 33vh;
    .wrap-search {
      width: 500px;
    }
  }
  &.side {
    .wrap-search {
      width: 250px;
      ::v-deep {
        input {
          font-size: $font-size-M-pc;
        }
      }
    }
  }
  .wrap-search {
    position: relative;
    transition: width 0.3s;
    .items-match {
      position: absolute;
      z-index: 1;
      width: 100%;
      background-color: var(--color-white);
      border: 1px solid var(--border-gray);
      > .item-match {
        > button {
          width: 100%;
          padding: 0 5px;
          &.button-keyword {
            padding: 10px 20px;
          }
        }
        &:nth-child(n+2) {
          border-top: 1px solid var(--border-light-gray)
        }
      }
    }
  }
}