.box-search {
  &.basic {
    .wrap-search {
      width: 280px;
    }
  }
  &.big {
    display: flex;
    justify-content: center;
    margin-top: 16vh;
    .wrap-search {
      width: 500px;
    }
  }
  &.small {
    .wrap-search {
      width: 250px;
      ::v-deep {
        input {
          font-size: $font-size-M-pc;
        }
      }
    }
  }
  .wrap-search {
    position: relative;
    transition: width 0.3s;
    .items-match {
      position: absolute;
      z-index: 2;
      width: 100%;
      background-color: var(--color-white);
      border: 1px solid var(--border-gray);
      .title-list {
        padding: 3px 10px;
        background-color: var(--color-black);
        font-size: $font-size-S-pc;
        color: var(--color-white);
        text-align: center;
      }
      > .item-match {
        display: flex;
        align-items: center;
        > button,
        ::v-deep .box-item {
          flex: 1;
        }
        > button {
          width: 100%;
        }
        .button-item {
          padding: 0 10px;
        }
        .button-keyword {
          padding: 10px 20px;
        }
        &:nth-child(n+2) {
          border-top: 1px solid var(--border-light-gray)
        }
        .number-ranking {
          min-width: 2em;
          padding-left: 10px;
          font-size: $font-size-S-pc;
          color: var(--color-gray-40);
        }
        .value-ranking {
          padding-right: 10px;
          font-size: $font-size-S-pc;
          color: var(--color-point-sub);
        }
      }
    }
  }
}