.wrap-input {
  position: relative;  
  font-size: 15px;
  &.main {
    font-size: 18px;
    input {
      padding-left: 60px;
    }    
  }
  &.side {
    input {
      width: 100%;
    }
  }
  input {
    width: 100%;
    padding: 10px 20px 10px 50px;
    border: 1px solid var(--border-gray);
    border-radius: 30px;
    font-size: inherit;
    line-height: 1;
    transition: 0.2s;
  }
  &.searching input {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .svg-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1.1em;
    path {
      fill: var(--color-gray);
    }
  }
  &:not(.compact) {
    input {
      border: 1px solid $color-point;
    }
    .svg-icon {
      path {
        fill: $color-point;
      }
    }
  }
}