
.btn {
  // padding: 3px 10px;
  // border-radius: 5px;
  // font-weight: 300;
  &.dark {
    background-color: var(--color-black);
    color: var(--color-white);
  }
  &.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 5px;
    border: 1px solid var(--color-gray-40);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  &.round {
    border-radius: 20px;
    &.size {
      &-medium {
        padding: 5px 10px;
        font-size: $font-size-M-pc;
      }
      &-small {
        padding: 4px 8px;
        font-size: $font-size-S-pc;
      }
    }
  }
  &.square-round {
    border-radius: 5px;
    &.size {
      &-medium {
        min-width: 50px;
        padding: 0 10px;
        font-size: $font-size-M-pc;
        line-height: $square-btn-medium-line-height;
        text-align: center;
        .text {
          opacity: .8;
        }
        &.nuxt-link-active,
        &.is-active {
          font-weight: 500;
          border-radius: 5px;
          .text {
            opacity: 1;
          }
        }
      }
    }
  }
  &.bg {
    &-point,
    &-active {
      background-color: var(--color-point);
      color: var(--color-white);
    }
    &-disabled,
    &-light-gray {
      background-color: var(--bg-light-gray);
      color: var(--color-gray-40);
    }
    &-cancel {
      background-color: var(--bg-dark-gray);
      color: var(--color-white);
    }
  }
}