
.card-list-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  height: 100%;
  background-color: var(--bg-light-gray);
  &.no-gap {
    gap: 0;
  }
  > a, > button {
    flex: 1;
  }
  .btn-share {
    position: absolute;
    z-index: 1;
    top: 28px;
    right: 10px;
  }
  .wrap-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    line-height: 1;
    &-top {
      .wrap-text-sub {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        font-size: var(--font-size-XS);
        p {
          color: var(--font-dark-gray);
          font-weight: 300;
        }
        .character {
          font-weight: var(--font-weight-B);
          color: var(--font-dark-gray);
        }
        .box-text-sub {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
      .wrap-text-main {
        margin-top: 4px;
        padding-right: 35px;
        .text-main {
          overflow: hidden;
          .title {
            font-size: var(--font-size-title-XS);
            font-weight: var(--font-weight-B);
            line-height: 1.2;
          }
          .desc {
            overflow: hidden;
            margin-top: 8px;
            font-size: var(--font-size-XS);
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
      font-size: var(--font-size-XS);
      .box-left {
        display: flex;
        gap: 10px;
      }
      .btn.text {
        margin-left: auto;
      }
    }
    .list-item-name {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      margin-top: auto;
    }
  }
  .btn-delete {
    line-height: 1;
    padding-right: 0;
  }
  &.size {
    &-medium {
      padding: 10px 8px 8px;
    }
    &-small {
      min-width: 100px;
      padding: 6px;
      .wrap-info {
        gap: 6px;
        &-top {
          .wrap-text-sub {
            margin-bottom: 5px;
            font-size: var(--font-size-XXXS);
          }
          .wrap-text-main {
            padding-right: 0;
            .text-main {
              .title {
                font-size: var(--font-size-XS);
              }
              .desc {
                margin-top: 4px;
                font-size: var(--font-size-XXS);
              }
            }
          }
        }
        &-bottom {
          font-size: var(--font-size-XXS);
          .box-left {
            gap: 5px;
          }
        }
      }
    }
  }
}
