.popup-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: $dim-z-index;
  max-width: 100%;
  background-color: var(--bg-body);
  transition: 0.5s;
  .button-toggle-size {
    position: absolute;
  }
  &.mode {
    &-max {
      top: var(--header-height);
      left: 50%;
      transform: translateX(-50%);
      height: calc(100% - var(--header-height));
      margin: 0 auto;
      padding-top: 20px;
      padding-bottom: 20px;
      .wrap-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: map-get($layout-sizes, 'basic');
        max-width: 100%;
      }
      .button-toggle-size {
        bottom: 0;
        left: 50%;
        padding: 10px;
        background-color: $color-pure-black;
        color: $color-white;
        transform: translateX(-50%);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      @include mobile {
        padding: 10px;
      }
    }
    &-mini {
      overflow: hidden;
      bottom: 20px;
      left: 20px;
      border: 1px solid var(--border-gray);
      border-radius: 10px;
      box-shadow: 5px 5px 10px var(--color-shadow);
      .button-toggle-size {
        font-size: 12px;
        top: 4px;
        right: 5px;
        font-weight: var(--font-weight-L);
      }
      @include mobile {
        bottom: 0;
        left: 0;
        border-radius: 0;
        border-top-right-radius: 10px;
      }
    }
  }
}