
  .menu-bar {
    display: flex;
    align-items: center;
    padding-right: 15px;
    background-color: var(--bg-dark);
    a {
      color: #fff;
    }
    nav {
      display: flex;
      a {
        display: block;
        padding: 0 10px;
      }
      .menu-list {
        display: flex;
      }
    }
    &.size {
      &-medium {
        padding: 5px 10px 5px 90px;
        .area-side-menu {
          display: flex;
          margin-left: auto;
          a {
            font-size: 0.9em;
          }
        }
      }
    }
    &.color {
      &-point {
        background-color: $color-point;
        nav {
          a {
            &.nuxt-link-active,
            &.is-active {
              background-color: $color-point-vivid-bright;
            }
          }
        }
      }
    }
  }