
  .menu-bar {
    padding-right: 15px;
    background-color: var(--bg-dark);
    > .inner {
      display: flex;
      align-items: center;
    }
    a {
      color: $color-white;
    }
    nav {
      display: flex;
      > ul {
        flex-shrink: 0;
      }
      a {
        display: block;
        padding: 0 10px;
      }
      .menu-list {
        display: flex;
      }
      @include mobile {
        overflow-x: auto;
        @include scrollBar()
      }
    }
    &.size {
      &-medium {
        padding: var(--top-menu-bar-vtc-pd) 10px;
        .area-side-menu {
          display: flex;
          margin-left: auto;
          word-break: keep-all;
          a {
            font-size: 0.9em;
          }
          @include mobile {
            display: none;
          }
        }
      }
      @include mobile {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &.color {
      &-point {
        background-color: $color-point;
        nav {
          a {
            &.nuxt-link-active,
            &.is-active {
              backdrop-filter: $filter-brighter;
            }
          }
        }
      }
      &-point-400 {
        background-color: var(--color-gray-50);
        @media (prefers-color-scheme: dark) {
          background-color: var(--color-gray-40);
        }
        nav {
          a {
            &.nuxt-link-active,
            &.is-active {
              backdrop-filter: $filter-darker;
            }
          }
        }
      }
    }
  }