.item-setting-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  .box-item-setting {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 10px 10px;
    background-color: var(--bg-light-gray);
    > a {
      flex: 1;
    }
    .wrap-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      > p {
        line-height: 1;
      }
      .title {
        font-size: $font-size-title-XS-pc;
        font-weight: 600;
        padding-bottom: 8px;
        border-bottom: 1px solid var(--darker-20);
      }
      .character {
        font-size: $font-size-S-pc;
      }
      .list-item-name {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        .item-name {
          padding: 2px 10px 1px;
          border-radius: 50px;
          font-size: $font-size-S-pc;
          font-weight: 500;
          @each $key in map-keys($item-grade-colors) {
            $hsl:hsl(map-get($item-grade-colors, #{$key}));
            &.grade-#{$key} {
              background-color: hslac($hsl, .3);
              border: 1px solid hslac($hsl);
            }
          }
        }
      }
    }
  }
  .btn-text {
    margin-top: auto;
    margin-left: auto;
  }
}