.list-check {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  &.depth-1,
  &.depth-2,
  &.depth-3 {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: var(--darker-10);
    .box-checkbox {
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }

  .box-item {
    &:nth-child(n+2) {
      border-top: 1px solid var(--darker-10);
    }
  }
  .box-checkbox {
    display: flex;
    line-height: 24px;
    padding: 4px 0;
    input[type=checkbox] {
      margin-right: 5px;
    }
    .button-toggle {
      flex: 1;
      text-align: right;
      .icon-arrow {
        vertical-align: middle;
      }
    }
  }
  .drop-monster {
    font-size: $font-size-S-pc;
  }
}