.list-ranking {
  width: 100%;
  background-color: var(--color-white);
  th {
    vertical-align: middle;
    padding: 8px 15px;
    background-color: var(--bg-light-gray);
    font-size: $font-size-S-pc;
    font-weight: normal;
    color: var(--font-gray);
    text-align: center;
  }
  td {
    vertical-align: middle;
    padding: 6px 10px;
    text-align: center;
  }
  .item-ranking {
    align-items: center;
    border-bottom: 1px solid var(--border-light-gray);
    &.tear-0 {
      padding: 10px;
      background-color: var(--color-rank-1-bg);
      td {
        color: $color-white;
        > a {
          color: $color-white;
          font-size: 1.2em;
        }
      }
      .number-rank {
        font-weight: bold;
        color: red;
      }
    }
    &.tear-1 {
      background-color: var(--color-rank-2-bg);
    }
    &.tear-2 {
      background-color: var(--color-rank-3-bg);
    }
    .rank {
      text-align: center;
      padding-left: 2px;
      padding-right: 2px;
      .number-rank {
        font-size: $font-size-S-pc;
        color: var(--color-gray-40);
      }
      .rank-title {
        font-weight: var(--font-weight-B);
        .skull {
          display: block;
          font-weight: 400;
          line-height: 1;
        }
        &.type-0 {
          color: var(--color-rank-1);
          .skull {
            font-size: 2.6em;
          }
        }
        &.type-1 {
          color: var(--color-rank-2);
          .skull {
            font-size: 2em;
          }
        }
        &.type-2 {
          color: var(--color-rank-3);
          .skull {
            font-size: 1.4em;
          }
        }
      }
    }
    .thumb-hero {
      display: flex;
      justify-content: center;
    }
    .nickname {
      a {
        display: block;
        width: 100%;
      }
    }
    .bounty {

    }
    .list-items {
      display: flex;
      justify-content: center;
    }
  }
}