::v-deep {
  .wrap-tab {
    .tabs {
      align-items: flex-end;
      .tab {
        margin-right: $list-gap-basic;
        &:not(.active) {
          > button {
            opacity: 0.6;
            &:hover {
              opacity: 1;
              transform: translateY(-10px);
              box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
              transition: 0.3s;
            }
          }
        }
        &.active {
          border: 5px solid $wanted-brown;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
          > button {
            opacity: 1;
          }
        }
      }
    }
    .content {
      padding-top: 50px;
    }
  }
}
.wrap-items-info {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: $list-gap-basic;
  // min-height: 402px;
  .area-equipments {
    grid-column: auto / span 2;
    grid-row: auto / span 3;    
  }
  .area-sailors {
    grid-column: auto / span 2;
    grid-row: auto / span 3;    
  }
  .area-colleagues {
    grid-column: auto / span 3;
    grid-row: auto / span 1;    
  }
  .area-ship {
    grid-column: auto / span 1;
    grid-row: auto / span 1;    
  }
  .area-ryuo {
    grid-column: auto / span 1;
    grid-row: auto / span 1;    
  }
  .all-options-main {
    grid-column: 5 / span 3;
    grid-row: 2 / span 2;    
    .text-notice {
      font-size: $font-size-S-pc;
      text-align: center;
    }
  }
  .all-options-sub {
    grid-column: 8 / span 1;
    grid-row: 2 / span 2;    
  }
  .area-synergies {
    grid-column: 3 / span 2;
    grid-row: 4 / span 1;    
  }
  ::v-deep {
    .area-item-list {
      height: 100%;
    }
    .box-item {
      padding-left: 15px;
      padding-right: 15px;
    }
    .item-blank {
      margin-bottom: 32px;
    }
  }
}