.content-top {
  > .inner-size-basic {
    display: flex;
    align-items: center;
    gap: 20px;
    .wrap-high-rank {
      margin-left: auto;
      > .title {
        font-size: var(--font-size-S);
        color: var(--color-point-sub);
      }
      ::v-deep {
        .list-item {
          > li + li {
            margin-left: 6px;
          }
        }
      }
    }
  }
}
.wrap-total {
  margin-bottom: 15px;
  ::v-deep {
    .list-item {
      &.sailors {
        margin-bottom: 10px;
        > li {
          background-color: var(--bg-gray);
        }
      }
    }
  }
}