.item-build-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}
.box-item-build {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--lighter-10);
  border: 2px solid transparent;
  > a {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .wrap-info-main {
    padding: 8px 8px 5px;
    .main-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .wrap-title {
      display: flex;
      align-items: center;
      gap: 5px;
      ::v-deep {
        .box-item {
          padding: 0;
        }
      }
    }
    .title {
      font-size: $font-size-title-XS-pc;
      font-weight: var(--font-weight-B);
      line-height: 1;
    }
    .regDt {
      flex-shrink: 0;
      width: 52px;
      color: var(--font-gray);
      font-size: $font-size-XXS-pc;
      line-height: 1.1;
      text-align: right;
      letter-spacing: -0.03em;
      word-break: keep-all;
    }
    .desc {
      overflow: hidden;
      font-size: $font-size-XS-pc;
      color: var(--font-dark-gray);
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .wrap-info-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    font-size: $font-size-XS-pc;
  }
  .area-item-list {
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: var(--lighter-10);
    .item-type-list {
      display: flex;
      gap: 15px;
    }
    .wrap-item-list {
      &.equipment,
      &.sailor {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
      }
      .title-item-list {
        margin-right: 10px;
        font-size: $font-size-XS-pc;
        font-weight: var(--font-weight-B);
        color: var(--font-dark-gray);
      }
    }
  }
}
.wrap-button-delete {
  position: absolute;
  bottom: 5px;
  right: 10px;
  line-height: 1;
}