@mixin containerSize($size:basic) {
  max-width: 100%;
  padding: 0 20px;
  @if($size == basic) {
    width: $basic-container-width;
  } @else if($size == wide) {
    width: 1920px;
  }
  // max-width: 100%;
  margin-left: auto; 
  margin-right: auto; 
}

@mixin flexBox($al:center, $jc:center) {
  display: flex;
  align-items: $al;
  justify-content: $jc;
}

@mixin pc {
  @media screen and (min-width: ($mobile-size + 1)) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-size) {
    @content;
  }
}


@mixin fontCall($fontRule, $color:#000) {
  font-size: map-get($fontRule, size);
  font-weight: map-get($fontRule, weight);
  @if map-get($fontRule, linegap) {
    line-height: map-get($fontRule, linegap);
  }    
  @if map-get($fontRule, spacing) {
    letter-spacing: (map-get($fontRule, spacing) / 1000) * 16px;
  }
  @if $color {
    color: $color;
  }
}


@mixin scrollBar(
  $thumbColor: var(--color-gray-85), 
  $hoverThumbColor: var(--color-gray-65)
) {
  scrollbar-arrow-color: var(--color-gray-50);
  scrollbar-face-color: var(--color-gray-95);
  scrollbar-shadow-color: var(--color-gray-65);
  scrollbar-3dlight-color: var(--color-gray-85);
  scrollbar-darkshadow-color: var(--color-gray-65);
  scrollbar-base-color: var(--color-gray-95);    
  &::-webkit-scrollbar {
    width: 7px;
    height: 11px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
    border-radius: 5px;
    border: 3px solid transparent;
    border-left: none;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $hoverThumbColor;
  }  
}