$color-legend: #70dbbb;
$color-legend-sub: #eeeea0;
$color-epic: #fd8329;
$color-epic-sub: #ffe945;
$color-rare: #aaff90;
$color-normal: #f7efec;

$color-point: #be232f;
$color-point-pale: #c04f58;
$color-point-vivid-bright: #e03f4d;

// $color-point: #574bc6;
// $color-point-pale: #8279d4;
// $color-point-vivid-bright: #6f5fff;
$color-point-sub: #3f489d;
$color-point-sub-pale: #747cc2;

$color-mark: #f2fdcb;
$color-neon: #5fee27;
$color-gold: #cfa61f;
$color-ban: #d00;
$wanted-brown: #5a352d;

// badge line
$color-point-bright: #95aeff;
$color-point-sub-bright: #ffa742;

// rank color
$color-rank1: rgb(255, 60, 0);
$color-rank2: rgb(105, 22, 173);
$color-rank3: rgb(36, 61, 172);

// badge colors
$badge-color-orange-light: rgba(255, 200, 174, 0.8);
$badge-color-green-light: rgba(196, 255, 232, 0.8);
$badge-color-blue-light: rgba(196, 205, 255, 0.8);
$badge-color-blue: royalblue;
$badge-color-green: green;

// layout
$basic-container-width: 1080px;

// size
$font-size-title-B-pc: 30px;
$font-size-title-M-pc: 25px;
$font-size-title-MS-pc: 23px;
$font-size-title-S-pc: 20px;
$font-size-title-XS-pc: 16px;
$font-size-B-pc: 16px;
$font-size-M-pc: 15px;
$font-size-MS-pc: 14px;
$font-size-S-pc: 13px;
$font-size-XS-pc: 12px;

// item img size
$item-image-xsmall: 30px;
$item-image-small: 40px;
$item-image-basic: 55px;
$item-image-big: 70px;
$item-image-xbig: 90px;

// list padding, gap
$list-gap-basic: 10px;

:root {
  // pallette
  --color-white: #fff;
  --color-black: hsl(0, 4%, 20%);
  // gray
  --color-gray-30: hsl(0, 5%, 30%);
  --color-gray-40: hsl(0, 5%, 40%);
  --color-gray-50: hsl(0, 5%, 50%);
  --color-gray-60: hsl(0, 6%, 60%);
  --color-gray-65: hsl(0, 6%, 65%);
  --color-gray-70: hsl(0, 6%, 70%);
  --color-gray-80: hsl(0, 7%, 80%);
  --color-gray-85: hsl(0, 8%, 85%);
  --color-gray-90: hsl(0, 12%, 90%);
  --color-gray-95: hsl(0, 13%, 95%);

  // border color - 테이블 및 영역 구분선 (아이콘 및 작은 요소 등은 별도 적용)
  --border-gray: var(--color-gray-80);
  --border-light-gray: var(--color-gray-95);

  --bg-dark: var(--color-black);
  --bg-dark-dim: hsla(0, 0%, 0%, 0.8);
  --bg-dark-gray: hsl(228, 3%, 39%);
  --bg-gray: hsl(231, 5%, 72%);
  --bg-gray-100: hsl(0, 0%, 87%);
  --bg-light-gray: hsl(0, 0%, 93%);
  --bg-light-point-300: var(--color-gray-70);
  --bg-light-point-200: var(--color-gray-80);
  --bg-light-point-100: var(--color-gray-90);
  --bg-light-point-50: var(--color-gray-95);
}