// rank color
$color-rank1: rgb(255, 60, 0);
$color-rank2: rgb(105, 22, 173);
$color-rank3: rgb(36, 61, 172);

// layout
$basic-container-width: 1080px;

// size
$font-size-title-B-pc: 30px;
$font-size-title-M-pc: 25px;
$font-size-title-MS-pc: 23px;
$font-size-title-S-pc: 20px;
$font-size-title-XS-pc: 16px;
$font-size-B-pc: 16px;
$font-size-M-pc: 15px;
$font-size-MS-pc: 14px;
$font-size-S-pc: 13px;
$font-size-XS-pc: 12px;

// item img size
$item-image-xsmall: 30px;
$item-image-small: 40px;
$item-image-basic: 55px;
$item-image-big: 70px;
$item-image-xbig: 90px;

// list padding, gap
$list-gap-basic: 10px;

:root {
  // pallette
  --color-white: hsl(0, 20%, 99%);
  --color-black: hsl(0, 4%, 20%);
  // gray
  --color-gray-30: hsl(0, 4%, 30%);
  --color-gray-40: hsl(0, 4%, 40%);
  --color-gray-50: hsl(0, 4%, 50%);
  --color-gray-60: hsl(0, 6%, 60%);
  --color-gray-65: hsl(0, 6%, 65%);
  --color-gray-70: hsl(0, 6%, 70%);
  --color-gray-80: hsl(0, 7%, 80%);
  --color-gray-85: hsl(0, 8%, 85%);
  --color-gray-90: hsl(0, 12%, 90%);
  --color-gray-95: hsl(0, 20%, 95%);
  // point
  --color-point: hsl(355, 69%, 44%);
  --color-point-pale: hsl(355, 47%, 53%);
  --color-point-bright: hsl(355, 96%, 72%);
  --color-point-vivid-bright: hsl(355, 72%, 56%);
  // point sub
  --color-point-sub: hsl(27, 99%, 47%);
  --color-point-sub-pale: hsl(27, 88%, 61%);
  --color-point-sub-bright: hsl(27, 100%, 65%);

  // border color
  // 테이블 및 영역 구분선 (아이콘 및 작은 요소 등은 팔레트에서 컬러 선택하여 별도 적용)
  --border-gray: var(--color-gray-80);
  --border-light-gray: var(--color-gray-95);
  // 아이템 스택 뱃지 라인
  --border-gold: #cfa61f;

  // bg color
  --bg-dark: var(--color-black);
  --bg-dark-gray: var(--color-gray-40);
  --bg-gray: var(--color-gray-80);
  --bg-light-gray: var(--color-gray-95);

  // tooltip bg
  --bg-tooltip-dim: hsla(0, 0%, 0%, 0.8);

  // 아이템 등급 컬러
  --color-grade-legend: #70dbbb;
  --color-grade-legend-sub: #eeeea0;
  --color-grade-epic: #fd8329;
  --color-grade-epic-sub: #ffe945;
  --color-grade-rare: #aaff90;
  --color-grade-normal: #f7efec;

  // 뱃지 컬러
  --badge-color-orange-light: hsla(19, 100%, 84%, 0.8); // 조합 아이템, 콜로세움 버프 효과
  --badge-color-green-light: hsla(157, 100%, 88%, 0.8); // 영입 아이템, 콜로세움 자신 효과
  --badge-color-blue-light: hsla(231, 100%, 88%, 0.8); // 콜로세움 디버프 효과
  --badge-color-blue: hsl(225, 73%, 57%); // 선원 타입
  --badge-color-green: hsl(120, 100%, 25%); // 동료 타입

  // 기타 컬러
  --wanted-brown: #5a352d;
  --color-text-highlight: #f2fdcb;
  --color-green-neon: #5fee27;
  --color-ban: #d00;
}